<%= form_for @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit class: 'btn btn-success'%>
<% end %>

<p class="back-link"><%= link_to 'Back to my articles', articles_path %></p>
